<main>
    <section id="section-banner">
        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="./assets/img/img1.png" class="d-block w-100" alt="Jogo Promocional">
              </div>
              <div class="carousel-item">
                <img src="./assets/img/img2.png" class="d-block w-100" alt="Jogo Promocional">
              </div>
              <div class="carousel-item">
                <img src="./assets/img/img3.png" class="d-block w-100" alt="Jogo Promocional">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </section>


    <h2>Melhores Jogos</h2>
    <mat-grid-list cols="3">
      <mat-grid-tile>
        <mat-card class="example-card">
          <img mat-card-image src="./assets/img/image.png" alt="Melhor jogo de tiro">
          <mat-card-header>
            <mat-card-title>War Face</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              Tenha a experiência do melhor jogo de guerra da atualidade.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>Comprar</button>
          </mat-card-actions>
        </mat-card>

      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card class="example-card">
          <img mat-card-image src="./assets/img/image1.png" alt="Melhor jogo de tiro">
          <mat-card-header>
            <mat-card-title>War Face</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              Viva a melhor corrida de carros da história.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>Comprar</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-card class="example-card">
          <img mat-card-image src="./assets/img/image2.png" alt="Melhor jogo de tiro">
          <mat-card-header>
            <mat-card-title>War Face</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              A realidade nunca esteve tão emocionante com esse incrível jogo de futebol.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>Comprar</button>
          </mat-card-actions>
        </mat-card>        
      </mat-grid-tile>
      
    </mat-grid-list>
    






    





</main>